<!DOCTYPE html>
<head>

  <meta charset="utf-8">
  <title>Content Manager</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="styles/app.css">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="node_modules/angularjs-toaster/toaster.min.css"/>
  <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css"/>
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">

</head>
<body ng-app="main" ng-controller="HeaderController as headerCtrl" ng-class="{'bodyBackgroundImage': !headerCtrl.userModel.isLogged()}" class="whiteBackground">
  <header>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="headerNavBar" role="navigation">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="home">Home</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li ui-sref-active="active" ng-show="!headerCtrl.userModel.isLogged()">
              <a ui-sref="register">
                <span class="glyphicon glyphicon-user"></span> Sign Up
              </a>
            </li>
            <li ui-sref-active="active" ng-show="!headerCtrl.userModel.isLogged()">
              <a ui-sref="login">
                <span class="glyphicon glyphicon-log-in"></span> Login
              </a>
            </li>
            <li ng-show="headerCtrl.userModel.isLogged()">
              <a ng-click="headerCtrl.logout()">Logout</a>
            </li>
          </ul>
        </div>

      </div>
    </nav>
  </header>

  <div class="row" id="mainContainer" style="height: 100%;" ng-if="headerCtrl.userModel.isLogged()">
    <div class="col-sm-2 col-md-2 col-lg-1">
      <nav class="navbar navbar-inverse" style="height: 100vh; position: fixed; width: inherit;" role="navigation">
        <ul class="nav navbar-nav sidebar-nav" style="width: 100%;">
          <li ui-sref-active="active">
            <a ui-sref="news">News</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="events.list">Events</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="groups.list">Groups</a>
          </li>
          <li ui-sref-active="active" ng-show="false">
            <a ui-sref="userPanel">Account</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-sm-10 col-lg-11">
      <ui-view></ui-view>
    </div>
  </div>

  <div ng-if="!headerCtrl.userModel.isLogged()">
    <div class="row"  style="padding-top: 50px;">
      <ui-view></ui-view>
    </div>
  </div>

  <toaster-container></toaster-container>

  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="node_modules/angular-animate/angular-animate.min.js"></script>
  <script src="node_modules/angular-aria/angular-aria.min.js"></script>
  <script src="node_modules/angular-messages/angular-messages.min.js"></script>
  <script src="node_modules/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
  <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
  <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
  <script src="node_modules/angularjs-toaster/toaster.min.js"></script>
  <script src="node_modules/angular-material/angular-material.min.js"></script>
  <script src="node_modules/angular-file-upload/dist/angular-file-upload.min.js"></script>
  <script src="node_modules/underscore/underscore-min.js"></script>
  <script src="scripts/main.js"></script>
  <script src="scripts/main.src.js"></script>
</body>
</html>
