<div class="inner-sm">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 form-box col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 greyBackground">

      <h1>
        Events
      </h1>

      <button type="button" ui-sref="events.add" class="btn btn-success btn-circle btn-lg btn-circle--right">
        <i class="glyphicon glyphicon-plus"></i>
      </button>

      <button type="button" class="btn btn-default btn-circle btn-lg btn-circle--right" ng-click="eventsListCtrl.toggleList()">
        <i ng-class="{
            'fa fa-window-restore': eventsListCtrl.showList,
            'fa fa-list': !eventsListCtrl.showList
            }">
        </i>
      </button>
      <br/>

      <div class="col-sm-6 col-sm-offset-3">
        <md-input-container class="md-block" flex-gt-xs>
          <label>Search Event</label>
          <input ng-change="eventsListCtrl.search(query)" ng-model="query">
        </md-input-container>
      </div>

      <table class="table table-hover" ng-show="eventsListCtrl.showList">
        <thead>
        <tr>
          <th>Event Title</th>
          <th>Creation Date</th>
          <th>Groups</th>
          <th>Files</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="event in eventsListCtrl.getEvents()">
          <td>{{event.title}}</td>
          <td>{{event.timestamp | dateDisplay}}</td>
          <td>{{event.groups.length}}</td>
          <td>{{event.images.length}}</td>
          <td>
            <button type="button" class="btn btn-primary" ng-click="eventsListCtrl.showEventDetails(event)">Details</button>
            <button type="button" class="btn btn-info" ng-click="eventsListCtrl.edit(event)">Edit</button>
            <button type="button" class="btn btn-danger" ng-click="eventsListCtrl.delete(event)">Remove</button>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="row" ng-show="!eventsListCtrl.showList">
        <div class="col-sm-12 col-md-8 col-md-offset-2" ng-repeat="event in eventsListCtrl.getEvents()">
          <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">
                  <button type="button" class="btn btn-default btn-circle--left"
                          style="background: transparent" ng-click="eventsListCtrl.delete(event)">
                    <i class="fa fa-times"></i>
                  </button>
                  {{event.title}}
                </span>
                <span class="md-subhead">Created: {{event.timestamp | dateDisplay}}</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-lg card-media">
                  <img class="event--list" ng-src="{{event | imageDisplay}}" style="">
                </div>
              </md-card-title-media>
            </md-card-title>
            <md-card-content>
              <p>{{event.content}}</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
              <md-button ng-click="eventsListCtrl.showEventDetails(event)">Details</md-button>
              <md-button ng-click="eventsListCtrl.edit(event)">Edit</md-button>
            </md-card-actions>
          </md-card>

        </div>
      </div>

    </div>
  </div>
</div>