<div class="inner-sm">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 form-box col-md-8 col-md-offset-2 greyBackground">
      <h3>
        <button type="button" ui-sref="groups.list" class="btn btn-default btn-circle btn-lg btn-circle--left">
          <i class="fa fa-arrow-left"></i>
        </button>
        Group: {{groupDetailsCtrl.groupModel.name}}
        <button type="button" ng-click="groupDetailsCtrl.edit()" class="btn btn-info btn-circle btn-lg btn-circle--right">
          <i class="fa fa-pencil"></i>
        </button>
      </h3>
      <br/>
      <br/>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Username</th>
                <th>Added</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in groupDetailsCtrl.groupModel.users">
                <td>{{user.email}}</td>
                <td>{{user.added | dateDisplay}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>