<div class="inner-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 form-box">
        <div class="first-page-form-top">
          <div class="form-top-left">
            <h3>Login to our site</h3>
            <p>Enter your username and password to log on:</p>
          </div>
          <div class="form-top-right">
            <i class="fa fa-key"></i>
          </div>
        </div>
        <div class="form-bottom">
          <form role="form" class="login-form">
            <div class="form-group">
              <label class="sr-only" for="form-username">Username</label>
              <input type="text" name="form-username" placeholder="Username..."
                     class="form-username form-control" id="form-username" ng-model="user.login">
            </div>
            <div class="form-group">
              <label class="sr-only" for="form-password">Password</label>
              <input type="password" name="form-password" placeholder="Password..."
                     class="form-password form-control" id="form-password" ng-model="user.password">
            </div>
            <button type="submit" class="btn wideButton"
                    ng-disabled="!loginCtrl.isFormValid(user)" ng-click="loginCtrl.login(user)">Sign in!</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>