<div class="inner-sm">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 form-box col-md-8 col-md-offset-2">
      <div class="form-top">
        <div class="form-top-left">
          <h3 class="center--header">
            <button type="button" ui-sref="groups.list" class="btn btn-default btn-circle btn-lg btn-circle--left">
              <i class="fa fa-arrow-left"></i>
            </button>
            {{groupsAddCtrl.header}}
          </h3>
        </div>
        <div class="form-top-right">
          <i class="fa fa-users"></i>
        </div>
      </div>
      <div class="form-bottom">
        <form role="form" class="login-form" name="groupsAddCtrl.form">
          <div class="form-group">
            <label class="sr-only" for="form-username">Username</label>
            <input type="text" name="form-username" placeholder="{{groupsAddCtrl.groupNamePlaceholder}}"
                   class="form-username form-control" id="form-username" ng-model="groupsAddCtrl.name">
          </div>
          <div class="form-group">
            <label class="sr-only" for="form-search">Search</label>
            <input type="text" name="form-search" placeholder="Search user"
                   class="form-username form-control" id="form-search"
                   ng-change="groupsAddCtrl.search(searchQuery)" ng-model="searchQuery">
          </div>
          <div>
            <div class="row">
              <h3 style="text-align: center">Share with</h3>
              <div class="col-sm-12">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th>Username</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="user in groupsAddCtrl.getUsers()">
                    <td>{{user.email}}</td>
                    <td >
                      <button type="button" ng-show="!groupsAddCtrl.userAlreadyAdded(user)"
                              class="btn btn-success btn-middle" ng-click="groupsAddCtrl.addUser(user)">
                        <span class="glyphicon glyphicon-plus"></span> Add
                      </button>
                      <button type="button" ng-show="groupsAddCtrl.userAlreadyAdded(user)"
                              class="btn btn-danger btn-middle" ng-click="groupsAddCtrl.removeUser(user)">
                        <span class="glyphicon glyphicon-minus"></span> Remove
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <button type="button" class="btn wideButton"
                  ng-click="groupsAddCtrl.submit()">{{groupsAddCtrl.buttonName}}</button>
        </form>
      </div>
    </div>
  </div>
</div>