<div class="inner-sm">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 form-box col-md-8 col-md-offset-2 greyBackground">

      <h3>
        <button type="button" ng-if="!eventDetailsCtrl.isReadOnly()"
                ng-click="eventDetailsCtrl.edit()" class="btn btn-info btn-circle btn-lg btn-circle--right">
          <i class="fa fa-pencil"></i>
        </button>
      </h3>
      <br/>
      <br/>

      <md-card>
        <div ng-if="eventDetailsCtrl.eventModel.images.length">
          <uib-carousel active="eventDetailsCtrl.active">
            <uib-slide ng-repeat="slide in eventDetailsCtrl.slides" index="$index">
              <img ng-src="{{slide.image}}" style="margin:auto;">
              <div class="carousel-caption">
              </div>
            </uib-slide>
          </uib-carousel>
        </div>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{eventDetailsCtrl.eventModel.title}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            Created: {{eventDetailsCtrl.eventModel.timestamp | dateDisplay}}
          </p>
          <p>
            {{eventDetailsCtrl.eventModel.content}}
          </p>

          <br/>

          <div ng-if="eventDetailsCtrl.eventModel.groups.length" style="text-align: left;">
            <h4 style="padding-left: 15px;">Shared with groups: </h4>
            <uib-accordion close-others="true">
              <div uib-accordion-group class="panel-default" heading="{{group.name}}" ng-repeat="group in eventDetailsCtrl.eventModel.groups">
                <div ng-show="group.users.length">
                  <h5>Users in group:</h5>
                  <ul class="list-group">
                    <li class="list-group-item" ng-repeat="user in group.users">{{user.email}}</li>
                  </ul>
                </div>
                <div ng-show="!group.users.length">
                  This group is empty.
                </div>
              </div>
            </uib-accordion>
          </div>

        </md-card-content>
      </md-card>

    </div>
  </div>
</div>