<div class="inner-sm">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 form-box col-md-8 col-md-offset-2 greyBackground">

      <h1>
        Groups
      </h1>

      <button type="button" ui-sref="groups.add" class="btn btn-success btn-circle btn-lg btn-circle--right">
        <i class="glyphicon glyphicon-plus"></i>
      </button>
      <br/>

      <div class="col-sm-6 col-sm-offset-3">
        <md-input-container class="md-block" flex-gt-xs>
          <label>Search Group</label>
          <input ng-change="groupsCtrl.search(query)" ng-model="query">
        </md-input-container>
      </div>

      <table class="table table-hover">
        <thead>
        <tr>
          <th>Group Name</th>
          <th>Creation Date</th>
          <th>Users</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="group in groupsCtrl.getCollection()">
          <td>{{group.name}}</td>
          <td>{{group.creation | dateDisplay}}</td>
          <td>{{group.users.length}}</td>
          <td>
            <button type="button" class="btn btn-primary" ng-click="groupsCtrl.showGroupDetails(group)">Details</button>
            <button type="button" class="btn btn-info" ng-click="groupsCtrl.edit(group)">Edit</button>
            <button type="button" class="btn btn-danger" ng-click="groupsCtrl.delete(group)">Remove</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>