<div class="inner-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 form-box">
        <div class="first-page-form-top">
          <div class="form-top-left">
            <h3>Register on our site</h3>
            <p>Enter your credentials to register on:</p>
          </div>
          <div class="form-top-right">
            <i class="fa fa-universal-access"></i>
          </div>
        </div>
        <div class="form-bottom">
          <form role="form" class="login-form">
            <div class="form-group">
              <label class="sr-only" for="form-username">Username</label>
              <input type="text" name="form-username" placeholder="Username..."
                     class="form-username form-control" id="form-username" ng-model="user.email">
            </div>
            <div class="form-group">
              <label class="sr-only" for="form-password">Password</label>
              <input type="password" name="form-password" placeholder="Password..."
                     class="form-password form-control" id="form-password" ng-model="user.password">
            </div>
            <div class="form-group">
              <label class="sr-only" for="form-password">Confirm Password</label>
              <input type="password" name="form-password" placeholder="Confirm Password..."
                     class="form-password form-control" id="form-password-confirm" ng-model="user.passwordConfirm">
            </div>
            <button type="submit" class="btn wideButton"
                    ng-click="registerCtrl.register(user)" ng-disabled="!registerCtrl.isFormValid(user)">Sign up!</button>
          </form>
        </div>
      </div>
    </div>
    <!--<div class="row">-->
    <!--<div class="col-sm-6 col-sm-offset-3 social-login">-->
    <!--<h3>...or login with:</h3>-->
    <!--<div class="social-login-buttons">-->
    <!--<a class="btn btn-link-1 btn-link-1-facebook" href="#">-->
    <!--<i class="fa fa-facebook"></i> Facebook-->
    <!--</a>-->
    <!--<a class="btn btn-link-1 btn-link-1-twitter" href="#">-->
    <!--<i class="fa fa-twitter"></i> Twitter-->
    <!--</a>-->
    <!--<a class="btn btn-link-1 btn-link-1-google-plus" href="#">-->
    <!--<i class="fa fa-google-plus"></i> Google Plus-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
  </div>
</div>