<div class="inner-sm">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 form-box col-md-8 col-md-offset-2">

      <div class="form-top">
        <div class="form-top-left">
          <h3 class="center--header">
            <button type="button" ui-sref="events.list" class="btn btn-default btn-circle btn-lg btn-circle--left">
              <i class="fa fa-arrow-left"></i>
            </button>
            {{eventsAddCtrl.header}}
          </h3>
        </div>
        <div class="form-top-right">
          <i class="fa fa-sticky-note"></i>
        </div>
      </div>
      <div class="form-bottom">
        <form role="form" class="login-form" name="eventsAddCtrl.form">
          <div class="form-group">
            <label class="sr-only" for="form-username">Username</label>
            <input type="text" name="form-username" placeholder="{{eventsAddCtrl.namePlaceholder}}"
                   class="form-username form-control" id="form-username" ng-model="eventsAddCtrl.title">
          </div>
          <div class="form-group">
            <label class="sr-only" for="form-content">Content</label>
            <textarea name="form-content" placeholder="{{eventsAddCtrl.contentPlaceholder}}"
                      class="form-control" id="form-content" ng-model="eventsAddCtrl.content"/>
          </div>

          <div class="form-group">
            <md-datepicker ng-model="eventsAddCtrl.date" md-placeholder="Enter date" class="datepicker"></md-datepicker>
          </div>

          <!--FILE UPLOAD-->
          <h3 class="form--center">Add Images</h3>
          <div class="form-group">
            <input id="file-upload" type="file" nv-file-select="" uploader="eventsAddCtrl.uploader" multiple/> <br/>
            <div class="well my-drop-zone" nv-file-drop="" uploader="eventsAddCtrl.uploader">
              You can drop here images
            </div>
          </div>
          <div class="form-group" ng-show="eventsAddCtrl.shouldShowImgList()">

            <table class="table">
              <thead>
                <tr>
                  <th style="width: 40%;">Name</th>
                  <th>Size</th>
                  <th>Progress</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>

                <tr ng-repeat="img in eventsAddCtrl.getImages()">
                  <td>
                    <img ng-src="{{img.url}}" class="event--add">
                  </td>
                  <td nowrap></td>
                  <td>
                    Added
                  </td>
                  <td nowrap>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="eventsAddCtrl.removeImg(img)">
                      <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                  </td>
                </tr>

                <tr ng-repeat="item in eventsAddCtrl.uploader.queue">
                  <td>
                    <strong>{{item.file.name}}</strong>
                    <div ng-thumb="{ file: item._file, height:100 }"></div>
                  </td>
                  <td nowrap>{{item.file.size/1024/1024 | number:2}} MB</td>
                  <td>
                    <div class="progress" style="margin-bottom: 0;">
                      <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                    </div>
                  </td>
                  <td nowrap>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                      <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>

          <!--GROUPS-->
          <h3 class="form--center">Share with</h3>
          <div class="form-group">

            <label class="sr-only" for="form-search">Search</label>
            <input type="text" name="form-search" placeholder="Search group"
                   class="form-username form-control" id="form-search"
                   ng-change="eventsAddCtrl.search(searchQuery)" ng-model="searchQuery">
          </div>
          <div>
            <div class="row">

              <div class="col-sm-12">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th>Group name</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="group in eventsAddCtrl.getGroups()">
                    <td>{{group.name}}</td>
                    <td >
                      <button type="button" ng-show="!eventsAddCtrl.groupAlreadyAdded(group)"
                              class="btn btn-success btn-middle" ng-click="eventsAddCtrl.addGroup(group)">
                        <span class="glyphicon glyphicon-plus"></span> Add
                      </button>
                      <button type="button" ng-show="eventsAddCtrl.groupAlreadyAdded(group)"
                              class="btn btn-danger btn-middle" ng-click="eventsAddCtrl.removeGroup(group)">
                        <span class="glyphicon glyphicon-minus"></span> Remove
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <button type="button" class="btn wideButton"
                  ng-disabled="!eventsAddCtrl.isValidGroup()" ng-click="eventsAddCtrl.submit()">
            {{eventsAddCtrl.buttonName}}
          </button>
        </form>
      </div>

    </div>
  </div>
</div>