<div class="inner-sm">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 form-box col-md-8 col-md-offset-2 greyBackground">
      <h1>UserPanel</h1>
      <h2>{{userPanelCtrl.userInfo.email}}</h2>
      <h2>{{userPanelCtrl.userInfo.date}}</h2>
      <h2>{{userPanelCtrl.userInfo.latestActivity}}</h2>
      <button class="btn btn-primary" ng-click="userPanelCtrl.test()">Test</button>
      <input type="file" file-model="userPanelCtrl.file">
      <button ng-click="userPanelCtrl.upload()" class="btn btn-primary">Upload</button>
    </div>
  </div>
</div>
